.contenido-fideicomisos{
    display: grid;
    font-size: 1.2em;
    padding-bottom: 2em;
    text-align: justify;
    line-height: 1.5em;
    background-color: var(--cont-bg-color-fondo);
}

.contenido-fideicomisos>h1{
    padding-left: 2em;
}
.contenido-fideicomisos>text{
    padding-left: 4em;
    padding-bottom: 2em;
    width: 90%;  
}

.fideicomiso-descripcion{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-areas: "titulo-fid caract" "fid-desc fid-cond";
    width: 90%;
    justify-self: center;
    padding-bottom: 2em;
}

.fideicomiso-descripcion>h1{
    grid-area: titulo-fid;
    font-size: 1.5rem;
    background-color: var(--cont-bg-color-oscuro);
    margin-right: 22em;
    padding:0.6em 0 0.5em 1em;
    color: white;
    font-weight: 100;
}
.fideicomiso-descripcion>h2{
    grid-area: caract;
}

bold{
    font-weight: 600;
}

.fid1{
    grid-area: fid-desc;
    padding-right: 2em;
}

.fid2{
    grid-area: fid-cond;
}