:root {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    background-image: linear-gradient(45deg, transparent 20%, hsl(225, 4%, 66%) 25%, transparent 25%),
                      linear-gradient(-45deg, transparent 20%, hsl(225, 4%, 66%) 25%, transparent 25%), 
                      linear-gradient(-45deg, transparent 75%, hsl(225, 4%, 66%) 80%, transparent 0), 
                      radial-gradient(hsl(225, 4%, 66%) 2px, transparent 0);
    background-size: 41px 39px, 43px 71px;
    /*30px 30px 30px 30px*/
    background-color: hsl(225, 4%, 75%);
    font-family: Helvetica, Arial, sans-serif;
    color: black;
    margin: 0;
}

img {
    width: 100%;
}

.contenedor {
    display: grid;
    grid-template-areas: "frente" "nav" "contenido" "pie";
    max-width: 1520px;
    margin: 0 auto;
    /*margin: 0 calc(50% - 720px);*/
    /*box-shadow: 0.1em 0.1em 1.5em #124;*/
}

header {
    grid-area: frente;
    position: relative;
    font-family: "Times New Roman", Times, serif;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px black;
    line-height: 0;
}

.titulo {
    position: absolute;
    top: 34%;
    left: 20%;
    font-size: 2.1rem;
}

.subtitulo {
    position: absolute;
    top: 59%;
    left: 20%;
    font-size: 1.4rem;
}

/*modal NOTICIA IMPORTANTE*/

.modal {
    display: block;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.5);
    z-index: 3;
}

.modal-body {
    position: fixed;
    top: 10%;
    right: 10%;
    left: 10%;
    background-color: white;
    overflow: auto;
    z-index: 4;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.3em;
    font-size: 2em;
    height: 1.5em;
    width: 1.5em;
    cursor: pointer;
    border: 0;
}

.modal-close::before {
    display: block;
    content: '\00D7';
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
}

/*mensaje ayuda*/

#mensaje-ayuda {
    padding: 8px 15px;
    background: hsl(231, 20%, 40%);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: inset 0 3px 2px rgba(255, 255, 255, .22),
                inset 0 -3px 2px rgba(0, 0, 0, .17), 
                inset 0 20px 10px rgba(255, 255, 255, .12), 0 0 4px 1px rgba(0, 0, 0, .1), 0 3px 2px rgba(0, 0, 0, .2);
    text-shadow: 0 1px rgba(255, 255, 255, 0.7);
    position: fixed;
    bottom: 5%;
    right: 2%;
    color: hsl(231, 20%, 80%);
    z-index: 2;
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.7s ease-in-out; 
    max-height: 0;
    transition: max-height 0.7s ease-in-out;   
}

.mensaje-ayuda-cerrar{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.1em;
    font-size: 1.2em;
    height: 1.2em;
    width: 1.2em;
    cursor: pointer;
    border: 0;
    background: hsl(231, 20%, 40%);
    color: hsl(231, 20%, 80%);;
}

.mensaje-ayuda-cerrar::before {
    display: block;
    content: '\00D7';
}

.mensaje-cerrar-icono {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
}

#mensaje-ayuda-caja{
    resize: none;
    width: 100%;
    transition: opacity 0.7s ease-in-out; 
    transition: max-height 0.7s ease-in-out;   
}

#mensaje-ayuda>img {
    width: 2em;
}

/*redes sociales*/

.icon-bar {
    display: grid;
    grid-template-areas: "facebook" "twitter" "whatsapp" "youtube" "google";
    position: fixed;
    top: 60%;
    width: 2.8em;
    z-index: 2;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 0.5em;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: white;
}

.facebook {
    grid-area: facebook;
    background: #3B5998;
    color: white;
}

.twitter {
    grid-area: twitter;
    background: #55ACEE;
    color: white;
}

.google {
    grid-area: google;
    background: #dd4b39;
    color: white;
}

.whatsapp {
    grid-area: whatsapp;
    background: #1bd741;
    color: white;
}

.youtube {
    grid-area: youtube;
    background: #bb0000;
    color: white;
}

/*/////////*/

/*NAVEGADOR*/

/*/////////*/

.navegador {
    display: grid;
    grid-template-columns: repeat(7, minmax(6em, 1fr)) 26em 3em;
    grid-auto-rows: 3em;
    grid-template-areas: "nav-ini nav-inst nav-serv nav-info nav-logi nav-tram nav-asesora";
    align-items: center;
    text-align: center;
    justify-items: center;
    background-color: hsla(240, 4%, 41%, 0.7);
    padding: 0.2em 0;
    font-size: 0.8rem;
    font-family: 'Open Sans', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.1rem;
}

.navegador ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.navegador ul:before, .navegador ul:after {
    content: "";
    display: table;
}

.navegador ul:after {
    clear: both;
}

.navegador ul>li {
    position: relative;
}

.navegador a {
    display: block;
    padding: 0.6em 1.2em;
    line-height: 1.2em;
    color: white;
    border-left: 1px solid #595959;
    text-decoration: none;
}

.navegador a:hover {
    text-decoration: none;
    background: #595959;
}

.navegador li ul {
    background: #273754;
    width: 150%;
}

.navegador li ul a {
    border: none;
    text-align: left;
    font-size: 1.1rem;
}

.navegador li ul a:hover {
    background: hsla(0, 0%, 0%, 0.2);
}

.navegador li ul {
    position: absolute;
    left: 0;
    top: 2.4em;
    z-index: 1;
}

.navegador li ul li {
    overflow: hidden;
    height: 0;
    transition: height 200ms ease-in;
}

.navegador ul>li:hover ul li {
    height: 3em;
}

.navegador input[type=text] {
    padding: 0.8em;
    border: none;
    font-size: 1em;
    justify-self: right;
}

.navegador button {
    width: 2.3rem;
    background: hsl(211, 65%, 35%);
    padding: 0.4em;
    color: white;
    font-size: 1em;
    border: 1px solid blue;
    cursor: pointer;
}

.navegador button:hover {
    background: #0b7dda;
}

.navegador-inicio {
    grid-area: nav-ini;
}

.navegador-institucion {
    grid-area: nav-inst;
}

.navegador-servicios {
    grid-area: nav-serv;
}

.navegador-informacion {
    grid-area: nav-info;
}

.navegador-logistica {
    grid-area: nav-logi;
}

.navegador-tramites {
    grid-area: nav-tram;
}

.navegador-asesora {
    grid-area: nav-asesora;
}

footer {
    grid-area: pie;
    border-top-color: hsl(229, 18%, 38%);
    color: hsl(210, 4%, 68%);
    background-color: hsl(210, 4%, 18%);
    padding: 2em 6em;
    font-size: .9rem;
    line-height: 1.5em;
}

.footer-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-info>* {
    margin-bottom: 2em;
}

.footer-info>img {
    max-width: 14em;
    max-height: 14em;
    border-radius: 50%;
}

footer text {
    text-align: right;
}

.footer-contacto ul {
    list-style: none;
}

.footer-contacto-redes img {
    width: 2em;
    fill: hsl(210, 4%, 68%);
}

.contenido {
    grid-area: contenido;
}