/*NOTICIAS*/

.container {
    grid-area: noti;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    height: 70vh;
    background-color: white;
}

.box {
    flex: 1;
    position: relative;
    display: inline-block; 
    overflow: hidden;
    transition: .5s;
    transition-delay: 0.25s;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .1);
    line-height: 0;
    margin: 0;
}

.box>img {
    width: 200%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
    transition-delay: 0.3s;
}

.box>span {
    display: none;
    text-align: left;
    padding: 0.5em 1em;
    line-height: 1em;
    position: absolute;
    font-size: 2rem;
    z-index: 0;
    margin: 0 auto;
    left: -15em;
    right: 0;
    top: 10%;
    color: white;
    width: 50%;
    background-color: rgba(105, 105, 105, 0.8); 
}

.box>text{
    padding: 0.5em 1em;
    line-height: 1em;
    position: absolute;
    text-align: justify;
    font-size: 1.4rem;
    z-index: 0;
    margin: 0 auto;
    width: 40rem;
    left: -40em;
    right: 0;
    top: 30%;
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 1s ease-out;
}

.box:hover {
    flex: 1 1 50%;
}

.box:hover>img {
    width: 100%;
    max-height: 100%;
}

.box:hover>span {
    display: block;
}
.box:hover>text {
    left: 0;
    visibility: visible;
    opacity: 1;
}

/*/////////*/

/*SERVICIOS*/

/*/////////*/

.index-servicios>h1 {
    background-color: #eff3f4;
    padding: 3em 0 1em 0;
    margin: 0;
    text-align: center;
}

.index-servicios-contenedor {
    grid-area: serv;
    display: grid;
    padding-bottom: 4em;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    gap: 1em;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: #eff3f4;
}

.index-servicios-celda {
    display: grid;
    grid-template-rows: 2fr 6fr 1fr;
    background-color: white;
    align-items: center;
    margin: 2em 2em;
    padding: 0 1em;
    border-radius: 0.5em;
    background-image: linear-gradient(to right, #e2e9eb 0%, #eff3f4 51%, #e2e9eb 100%);
    box-shadow: 0.1em 0.1em 0.5em #124;
    font-size: 0.7em;
}

.index-servicios-celda>a {
    text-decoration: none;
    color: black;
}

.index-servicios-celda>a>img {
    width: 75%;
    justify-content: center;
}


/*/////////*/

/*ENTIDADES*/

/*/////////*/

.index-entidades {
    grid-area: entidades;
    display: grid;
    grid-template-areas: "entidades-titulo" "iconos-entidades";
    text-align: center;
    background-color: rgba(255, 255, 255, 0.95);
}

.index-entidades>h1 {
    grid-area: entidades-titulo;
    margin-bottom: 0;
    margin-top: 1em;
}

.contenedor-entidades {
    grid-area: iconos-entidades;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    grid-gap: 2em;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 2em 4em 2em;
}

/*////*/

/*GUIA*/

/*////*/

.index-guia {
    grid-area: guia;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    align-items: center;
    background-color: #55aceebb;
    color: white;
    gap: 2em;
    padding: 6em 8em;
}

.index-guia-portada {
    box-shadow: 0.1em 0.1em .5em #124;
    line-height: 0;
    margin-right: 4em;
}


/*///////*/

/*ENLACES*/

/*///////*/

.index-enlaces {
    grid-area: enlaces;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2em 0;
}

.index-enlaces *+* {
    margin-top: 0.5em;
}

div .menu-toggle {
    margin-top: 2em;
    font-size: 1.2em;
    background-color: #e84c3d;
    width: 100%;
    text-align: left;
    padding: 0.5em 0.5em;
}

.index-enlaces-contenedor{
    display: grid;
}

.index-enlaces h1 {
    text-align: center;
    margin-top: 0;
}

.index-enlaces-menu {
    margin: auto;
    width: 50%;
}

.menu-dropdown {
    display: grid;
    background-color: #fafafa;
    padding-left: 1em;
    padding-bottom: 1em;
}

.menu-dropdown>a {
    text-decoration: none;
    color: black;
}

.menu-dropdown>a:hover {
    text-decoration: underline;
}

