.contenido-sprocon{
    background-color: var(--cont-bg-color-fondo);
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-areas: "titulo-spr titulo-spr"
                         "text-spr text-spr"
                         "anun-spr anun-spr"
                         "logo-spr contacto-spr";
    font-size: 1.2em;
    padding-bottom: 2em;
    text-align: justify;
    line-height: 1.5em;
}

.contenido-sprocon>h1{
    grid-area: titulo-spr;
    padding-left: 2em;
}
.contenido-sprocon>text{
    grid-area: text-spr;
    padding-left: 4em;
    padding-bottom: 2em;
    width: 90%;
}

.sprocon-logo{
    grid-area: logo-spr;
    width: 90%;
    justify-self: center;
    padding-bottom: 2em;
}

.sprocon-logo>img{
    display: float;
    float: left;
    width: 40%;
    margin-right: 1em;
}

.sprocon-contacto{
    grid-area: contacto-spr;
    font-size: 1rem;
    padding-right: 4em;
}

.sprocon-anuncio{
    grid-area: anun-spr;
    font-size: 1.5rem;
    background-color: var(--cont-bg-color-oscuro);
    width: 80%;
    justify-self: center;
    text-align: center;
    color: white;
    padding:0.6em 0 0.5em 1em;
    font-weight: 100;
    margin-bottom: 2em;
    border-radius: .2em;
}

.sprocon-contacto>ul{
    list-style: none;
}
.sprocon-contacto>ul li {
    position: relative;
    padding: 0.4em 0.3em;
    border-radius: 0.1em;
    font-size: 1.2em;
}

.sprocon-contacto>ul li:before {
    position: absolute;
    display: block;
    content: "";
    left: -2.2em;
    top: -0.14em;
    width: 2.1em;
    height: 2.1em;
    background-repeat: no-repeat;
    background-image: url('images/signo_v2.svg');
    background-size: 1.6em;
    background-position: center;
    border-radius: 0.5em;
}