:root {
    box-sizing: border-box;
    font-size: calc(.1vw + 0.9em);
}

html {
    scroll-behavior: smooth;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    background-image: linear-gradient(45deg, transparent 20%, hsl(225, 4%, 66%) 25%, transparent 25%), linear-gradient(-45deg, transparent 20%, hsl(225, 4%, 66%) 25%, transparent 25%), linear-gradient(-45deg, transparent 75%, hsl(225, 4%, 66%) 80%, transparent 0), radial-gradient(hsl(225, 4%, 66%) 2px, transparent 0);
    background-size: 41px 39px, 43px 71px;
    /*30px 30px 30px 30px*/
    background-color: hsl(225, 4%, 75%);
    font-family: "Lucida Sans", "Lucida Grande", Lucida, sans-serif;
    color: hsl(228, 3%, 28%);
    margin: 0;
    --cont-bg-color-neutral: hsla(225, 100%, 99%, 0.9);
}

img {
    width: 100%;
}

.contenedor {
    display: grid;
    grid-template-areas: "frente" "nav" "contenido" "pie";
    max-width: 100em;
    margin: 0 auto;
    /*margin: 0 calc(50% - 720px);*/
    /*box-shadow: 0.1em 0.1em 1.5em #124;*/
}

header {
    grid-area: frente;
    display: none;
}

@media screen and (min-width: 55em) {
    header {
        display: block;
        grid-area: frente;
        position: relative;
        font-family: "Times New Roman", Times, serif;
        font-weight: 600;
        color: white;
        text-transform: uppercase;
        text-shadow: 1px 1px hsl(214, 52%, 30%);
        line-height: 0;
    }
}

.titulo {
    position: absolute;
    top: 40%;
    left: 15%;
    font-size: calc(.26vw + 1.8em);
}

.subtitulo {
    position: absolute;
    top: 59%;
    left: 15%;
    font-size: calc(.22vw + .9em);
}

/*modal NOTICIA IMPORTANTE*/

.modal {
    display: block;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.5);
    z-index: 3;
}

.modal-body {
    position: fixed;
    top: 10%;
    right: 10%;
    left: 10%;
    background-color: white;
    overflow: auto;
    z-index: 4;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.3em;
    font-size: 2em;
    height: 1.5em;
    width: 1.5em;
    cursor: pointer;
    border: 0;
}

.modal-close::before {
    display: block;
    content: '\00D7';
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
}

/*mensaje ayuda*/

#mensaje-ayuda {
    padding: 8px 15px;
    background: hsl(231, 20%, 40%);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: inset 0 3px 2px rgba(255, 255, 255, .22), inset 0 -3px 2px rgba(0, 0, 0, .17), inset 0 20px 10px rgba(255, 255, 255, .12), 0 0 4px 1px rgba(0, 0, 0, .1), 0 3px 2px rgba(0, 0, 0, .2);
    text-shadow: 0 1px rgba(255, 255, 255, 0.7);
    position: fixed;
    bottom: 5%;
    right: 2%;
    color: hsl(231, 20%, 80%);
    z-index: 2;
    display: block;
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    transition: opacity 0.7s ease-in-out, max-height 0.7s ease-in-out;
}

.mensaje-ayuda-cerrar {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.1em;
    font-size: 1.2em;
    height: 1.2em;
    width: 1.2em;
    cursor: pointer;
    border: 0;
    background: hsl(231, 20%, 40%);
    color: hsl(231, 20%, 80%);
    ;
}

.mensaje-ayuda-cerrar::before {
    display: block;
    content: '\00D7';
}

.mensaje-cerrar-icono {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
}

#mensaje-ayuda-caja {
    resize: none;
    width: 100%;
    transition: opacity 0.7s ease-in-out, max-height 0.7s ease-in-out;
}

#mensaje-ayuda>img {
    width: 2em;
}

/*redes sociales*/

.icon-bar {
    display: grid;
    grid-template-areas: "facebook" "twitter" "whatsapp" "youtube" "google";
    position: fixed;
    top: 60%;
    opacity: .9;
    width: 2.8em;
    z-index: 2;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 0.5em;
    color: white;
    font-size: 20px;
    box-shadow: inset -3px -3px 5px 0 hsla(0, 0%, 0%, 0.2);
    border-radius: 0 3px 3px 0;
    transition: transform .1s ease-in-out;
}

.icon-bar a:hover {
    transform: scaleX(1.1);
}

.icon-bar a img {
    transition: filter .1s ease-in-out;
}

.icon-bar a:hover img {
    filter: invert(100%);
}

.facebook {
    grid-area: facebook;
    background: hsl(221, 44%, 41%);
}

.twitter {
    grid-area: twitter;
    background: hsl(206, 82%, 63%);
}

.google {
    grid-area: google;
    background: hsl(7, 71%, 55%);
}

.whatsapp {
    grid-area: whatsapp;
    background: hsl(132, 78%, 47%);
}

.youtube {
    grid-area: youtube;
    background: hsl(0, 100%, 37%);
}

/*/////////*/

/*NAVEGADOR*/

/*/////////*/

/*
.navegador {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    background-color: hsl(221, 18%, 49%);
}
*/

@media screen and (min-width: 55em) {
    .navegador {
        display: grid;
        grid-template-columns: repeat(7, minmax(6em, 1fr)) 24em 3em;
        grid-auto-rows: 3em;
        grid-template-areas: "nav-ini nav-inst nav-serv nav-info nav-logi nav-tram nav-asesora";
        align-items: center;
        text-align: center;
        justify-items: center;
        background-color: hsl(221, 18%, 49%);
        padding: 0.2em 0;
        font-size: .8rem;
        font-family: 'Open Sans', 'Arial Narrow', Arial, sans-serif;
    }
    .navegador>ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .navegador a {
        padding: 0.6em 1.2em;
        color: white;
        text-decoration: none;
    }
    .navegador ul>li {
        padding: 1em 1.2em;      
        color: white;
        position: relative;
        z-index: 1;
        letter-spacing: .1em;
        border-width: 2px 0;
    }
    .navegador ul>li:hover {
        background: hsl(221, 18%, 59%);
        cursor: pointer;
    }
    .navegador ul>li:hover>ul>li {
        display: block;
        border-bottom:1px hsl(219, 37%, 34%) solid;
    }
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        padding: 0;
        z-index: -1;
        background: hsl(219, 37%, 24%);
        width: 180%;
        text-align: left;
        border-radius: 0 0 .3em .3em;
        border-left:3px hsl(219, 37%, 34%) solid;
        border-right:3px hsl(219, 37%, 34%) solid;
    }
    .dropdown-menu>li {
        display: none;
        color: white;
        opacity: 0;
        transform-origin: top center;
        animation: slideDown 300ms 60ms ease-in-out forwards;
    }
    .dropdown-menu li>a {
        text-decoration: none;
        color: inherit;
    }
    @keyframes slideDown {
        0% {
            opacity: 0;
            transform: translateY(-2em);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    .navegador input[type=text] {
        padding: 0.8em;
        border: none;
        font-size: 1em;
        justify-self: right;
    }
    .navegador button {
        width: 2.3rem;
        background: hsl(211, 65%, 35%);
        padding: 0.4em;
        color: white;
        font-size: 1em;
        border: 1px solid blue;
        cursor: pointer;
    }
    .navegador button:hover {
        background: hsl(207, 90%, 45%);
    }
    .navegador-inicio {
        grid-area: nav-ini;
    }
    .navegador-institucion {
        grid-area: nav-inst;
    }
    .navegador-servicios {
        grid-area: nav-serv;
    }
    .navegador-informacion {
        grid-area: nav-info;
    }
    .navegador-logistica {
        grid-area: nav-logi;
    }
    .navegador-tramites {
        grid-area: nav-tram;
    }
    .navegador-asesora {
        grid-area: nav-asesora;
    }
}

/*==============
    FOOTER
===============*/

footer {
    position: relative;
    grid-area: pie;
    border-top-color: hsl(229, 18%, 38%);
    color: hsl(214, 4%, 68%);
    background-color: hsl(210, 4%, 18%);
    padding: 2em 6em;
    font-size: .9rem;
    line-height: 1.5em;
}

.footer-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-info>* {
    margin-bottom: 2em;
}

.footer-info>img {
    max-width: 14em;
    max-height: 14em;
    border-radius: 50%;
    border-width: 2px;
    border-color: hsl(214, 4%, 68%);
    border-style: inset;
}

footer text {
    text-align: right;
}

.footer-contacto ul {
    list-style: none;
}

.footer-contacto ul>li>bold {
    font-weight: 700;
}

.footer-contacto-redes img {
    width: 2em;
    /*color: hsl(225, 4%, 78%);*/
    /*PARA SACAR EL COLOR ADECUADO USANDO FILTER: https://codepen.io/sosuke/pen/Pjoqqp*/
    filter: invert(49%) sepia(6%) saturate(334%) hue-rotate(182deg) brightness(95%) contrast(88%);
}

.footer-contacto-redes img:hover {
    filter: drop-shadow(1px 1px 8px hsl(225, 4%, 78%)) invert(99%) sepia(1%) saturate(6453%) hue-rotate(183deg) brightness(99%) contrast(60%);
}

.contenido {
    grid-area: contenido;
}