.contenido-boletines{
    display: grid;
    background-color: var(--cont-bg-color-fondo);
}

.contenido-boletines>h1{
    text-align: center;
}

.matriz-boletines{
    display: grid;
    margin: 3em 10em;
    grid-template-columns: repeat(4,1fr);
    gap: 7em;
}