:root {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    background-color: #7c2420;
    font-family: Helvetica, Arial, sans-serif;
    color: black;
    margin: 0;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fill);
    grid-template-rows: repeat(4, auto);
    grid-gap: 0;
    max-width: 1230px;
    margin: 0 auto;
}

header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: rgb(34, 37, 51);
}

nav {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.tablero {
    display: flex;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding: 3em 2em 1em 2em;
    background-color: red;
}

.tablero>.celda {
    display: block;
    padding: 1.5em 2em;
    background-color: white;
    color: #191919;
    text-decoration: none;
}

.tablero>.celda+.celda {
    margin-left: 2.5em;
}

.celda {
    flex: 1;
    text-align: center;
    font-size: 0.8em;
    font-weight: 700;
    line-height: 2em;
}

.celda>h1 {
    color: #2c3e50;
}

.celda>h2 {
    color: #999999;
}

footer {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.site-nav {
    display: flex;
    margin: 0;
    padding: 1.5em;
    background-color: rgb(34, 37, 51);
    list-style-type: none;
    border-radius: .2em;
}

.site-nav>li>a {
    display: block;
    padding: .5em 1em;
    color: white;
    text-decoration: none;
}

.site-nav>li+li {
    margin-left: 4em;
}

img {
    max-width: 100%;
}

footer {
    border-top-color: rgb(80, 86, 114);
    color: rgb(183, 177, 166);
    background-color: rgb(44, 46, 48);
    padding: 2em;
}