/*===========
  SERVICIOS
===========*/

.index-servicios>h1 {
    padding-top: 2em;
    text-align: center;
    font-size: 1.5rem;
}

.index-servicios-contenedor {
    display: grid;
    padding: 1em 4em;
    grid-template-columns: repeat(auto-fit, minmax(22em, 1fr));
    grid-auto-rows: auto;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    gap: 1.5em;
}

.index-servicios-celda {
    position: relative;
    padding: 1em 1em;
    border-radius: .5em;
    font-size: 1rem;
    height: auto;
    margin: 1em auto;
    text-decoration: none;
    color: inherit;
    border: .2em solid hsl(0, 0%, 90%);
    background-color: hsl(51, 80%, 50%);
}

.index-servicios-celda>h1 {
    text-align: left;
    padding-left: 1em;
    font-size: 1rem;
}

.index-servicios-celda>h2 {
    position: absolute;
    font-size: 1rem;
    bottom: 1.4em;
    right: 1em;
}

.index-servicios-celda>div {
    display: flex;
    padding-bottom: 2em;
    text-align: left;
}

.index-servicios-celda p {
    flex: 5;
    padding-top: 1em;
    font-size: 1rem;
    letter-spacing: .3px;
}

.index-servicios-celda img {
    flex: 2;
    height: 7em;
    padding: 1em;
    padding-bottom: 0;
    margin-top: 1em;
    filter: invert(18%) sepia(19%) saturate(4944%) hue-rotate(169deg) brightness(95%) contrast(102%);
}

@media screen and (min-width: 62rem) {
    .index-servicios-celda {
        height: 18em;
    }
    .index-servicios-contenedor {
        grid-auto-rows: 19em;    
    }
}

@media screen and (min-width: 73rem) {
    .index-servicios-celda img {
        height: 10em;
    }
}


/*Animacion de flechas*/

.arrow {
    --altura: 1.5em;
    --ancho: 1.5em;
    --pos-y: .7em;
    --pos-x: 2.5em;
}

.index-servicios-celda span {
    display: block;
    width: var(--ancho);
    bottom: var(--pos-y);
    margin: auto;
    right: calc(var(--pos-x) + 1em);
    height: var(--altura);
    position: absolute;
}

.index-servicios-celda span span,
.index-servicios-celda .arrow:before,
.index-servicios-celda .arrow:after{
    position: absolute;
    background: url(../images/arrow.svg);
    filter: invert(18%) sepia(19%) saturate(4944%) hue-rotate(169deg) brightness(95%) contrast(102%);
    display: block;
    background-repeat: no-repeat; 
    width: var(--ancho);
    bottom: var(--pos-y);
    height: var(--altura);
    margin: auto;
} 

.index-servicios-celda span span {  
    right: var(--pos-x);    
    opacity: 1;    
}

.index-servicios-celda .arrow:before {
    content: "";
    right: calc(var(--pos-x) + .5em);
    opacity: 0.5;
}

.index-servicios-celda .arrow:after {
    content: "";
    right: calc(var(--pos-x) + 1em);
    opacity: 0.3;
}

.index-servicios-celda:hover .arrow:before {
    animation: animate-arrow-2 1s ease-in-out infinite 0.1s;
}

.index-servicios-celda:hover .arrow:after {
    animation: animate-arrow-3 1s ease-in-out infinite 0.2s;
}

.index-servicios-celda:hover .arrow span {
    animation: animate-arrow-1 1s ease-in-out infinite;
}

@keyframes animate-arrow-1 {
    0% {
        transform: translateX(calc(-4 * var(--ancho)));
        opacity: 0;
    }
    70%, 100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes animate-arrow-2 {
    0% {
        transform: translateX(calc(-2 * var(--ancho)));
        opacity: 0;
    }
    70%, 100% {
        transform: translateX(0);
        opacity: 0.5;
    }
}

@keyframes animate-arrow-3 {
    0% {
        transform: translateX(calc(-1 * var(--ancho)));
        opacity: 0;
    }
    70%, 100% {
        transform: translateX(0);
        opacity: 0.3;
    }
}

/* ======
  SLIDES
 =======*/
/*
 https://codepen.io/suez/pen/ByvKXE
 */


 
/*========
  LIBROS
========*/

.index-libros-seccion {    
    display: flex;
    color: white;
    padding: 6em 1em;
    font-size: .9rem;
}

.index-libros-seccion>a {
    flex: 1;
    line-height: 0;
    margin: 0 auto;
    max-width: 21em;
}

@media screen and (min-width: 85rem) {
    .index-libros-seccion {
        padding: 6em 12em;
    }
    .index-libros-seccion>a {
        margin: 0 3em;
    }    
}



.index-libros-seccion>a>img {
    transform: translateY(0);
    transition: transform .2s ease-out, filter .1s ease-out;
    transition-delay: .1s;
    min-width: 20em;
}

.index-libros-seccion>a>img:hover {
    transform: translateY(-.2em);
    filter: brightness(105%);
}

.index-libros-explicacion {
    flex: 2;
    margin: auto 2em;
    min-width: 20em;    
}

.index-libros-explicacion>h2 {
    text-align: justify;
    margin-bottom: 2em;
    font-family: var(--fuente-sans);
}

#guia-exportador{
    background-color: hsl(88, 54%, 51%);
    flex-wrap: wrap-reverse;
}
#encuesta-logistica{
    background-color: hsl(196, 68%, 59%);
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}

/*=========
  ENLACES
=========*/

.index-enlaces {
    padding: 1em 0;
    text-align: center;
}

.index-enlaces>h1{
    font-size: 1.5rem;
}

.index-enlaces *+* {
    margin-top: 0.5em;
}

.index-enlaces-item>a {
    display: flex;
    background-color: hsl(0, 0%, 90%);
    width: 90%;
    color: var(--color-dark-letra);
    box-shadow: 1px 1px 0px 0px hsla(0, 0%, 0%, 0.3);
    margin: auto;
    font-size: .9rem;
    text-align: left;
    cursor: pointer;
    padding: .6em;
    border-radius: 0.8em 0 0.8em 0;
}

.index-enlaces-lista {
    display: flex;
    flex-direction: column;
    width: 90%;
    font-size: .9rem;
    margin: auto;
    background: hsla(0, 0%, 100%);
    margin-top: 0;
    overflow: hidden;
    max-height: 0;
    text-align: left;
    padding-left: 2em;
}

@media screen and (min-width: 73rem) {
    .index-enlaces-item>a,
    .index-enlaces-lista {
        width: 70%;
    }
}

@media screen and (min-width: 85rem) {
    .index-enlaces-item>a,
    .index-enlaces-lista {
        width: 50%;
    }
}

.index-enlaces-lista a {
    color: black;
    text-decoration: none;
}

.index-enlaces-lista a:hover {
    text-decoration: underline;
}

.index-enlaces-lista.active {
    max-height: 50em;
    padding-top: 1em;
    padding-bottom: 1em;
}

/*===========
  ENTIDADES
===========*/

.index-entidades>h1 {
    padding: 1em;
    font-size: 1.5rem;
    text-align: center;
}

.contenedor-entidades {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9em, 1fr));
    grid-auto-rows: 9.2em;
    grid-gap: .5em;
    justify-content: space-evenly;
    justify-items: center;
    padding: 0 2em 2em 2em;
}

@media screen and (min-width: 73rem) {
    .contenedor-entidades {
        padding: 0 4em 2em 4em;
    }
}

.contenedor-entidades a {
    display: flex;
    height: 9em;
    width: 9em;
    border-radius: 50%;
    box-shadow: 1px 1px 0px 0px hsla(0, 0%, 0%, 0.3);
    transition: filter .1s ease-in-out;
    background-color: white;
}

.contenedor-entidades>a:hover {
    filter: opacity(.7);
}

.contenedor-entidades a>img {
    object-fit: contain;
    padding: 0.6em;
    border-radius: 50%;
    margin: auto;
}


