:root {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/textura.jpg");
    font-family: 'PT Serif', "Lucida Sans", "Lucida Grande", Lucida, serif;
    --color-dark-letra: hsl(198, 100%, 17%);
    color: var(--color-dark-letra);
}

img {
    width: 100%;
}

.contenedor {    
    max-width: 100rem;
    margin: 0 auto;
    background-color: hsl(0, 0%, 95%);
}

.contenedor>* {
    max-width: inherit;
}


.contenido>h1 {
    font-size: 2rem;
    text-align: center;
    padding: 1em 0;
}



/*=================
 MENU DE NAVEGACION
==================*/

.menu-navegacion {
    display: grid;
    grid-template-columns: repeat(7, minmax(6em, 1fr)) 24em 3em;
    height: 4em;
    grid-template-areas: "nav-ini nav-inst nav-serv nav-info nav-logi nav-tram nav-asesora nav-busqueda nav-boton";
    align-items: center;
    text-align: center;
    justify-items: center;
    background-color: var(--color-fondo);
    font-size: 1rem;
    gap: 0;
    width: 100%;
    overflow-y: visible;
    font-family: 'PT Sans', "Lucida Sans", "Lucida Grande", Lucida, sans-serif;
}

.menu-navegacion a,
.navegador-label{
    text-decoration: none;
    color: inherit;
    font-size: 1.1rem;
    font-weight: 500;
}

.navegador-label{
    padding: .2em 0;
    border-bottom: .2em solid transparent;
    transition: border-bottom .2s ease-in-out;
 }

 .navegador-seccion:hover .navegador-label{
    border-bottom: .2em solid var(--color-dark-letra);
}

.navegador-flecha{
    position: relative;
}

.navegador-flecha::after{
    content: "";
    position: absolute;
    right: -1em;
    bottom: 0.5em;
    background-image: url("../images/arrow.svg");
    width: .7em;
    height: .7em;
    transform: rotate(90deg);
    filter: invert(20%) sepia(8%) saturate(6985%) hue-rotate(159deg) brightness(100%) contrast(107%);
}

.navegador-seccion {
    position: relative;
}

.navegador-menu {
    position: absolute;
    visibility: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    text-align: left;
    width: 700%;
    top: 100%;
    left: -1em;
    border: .2em solid var(--color-light-letra);
    border-radius: 0 .5em .5em .5em;
    background-color: white;
    transform-origin: top center;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    transition-delay: 150ms;
}
.navegador-seccion:hover .navegador-menu{
    opacity: .95;
}

.navegador-menu>a{
    opacity: 0;
    transform: translateY(-.5em);
    transition: opacity .4s ease-in-out, transform .4s ease-in-out;
    transition-delay: 60ms;
    padding: .3em .6em;
    border-right: 1px solid hsl(0, 0%, 90%);
}

.navegador-seccion:hover .navegador-menu>a{
    opacity: 1;
    transform: translateY(0);
}

.navegador-menu>a:hover{
    background-color: hsl(0, 0%, 90%);
}

.navegador-seccion:hover .navegador-menu {
    visibility: visible;
    z-index: 2;
}

.navegador-menu a>h2{
    color: var(--color-dark-letra);
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-shadow: .5px .5px white;
}
.navegador-menu a>h3{
    font-weight: 400;
    font-size: 1.1rem;
    color: gray;
}


.menu-navegacion input[type=text] {
    display: block;
    padding: 0.5em;
    border: none;
    font-size: 1rem;
    justify-self: right;
}

.menu-navegacion button {
    display: block;
    width: 2.3em;
    background: hsl(207, 90%, 45%);
    padding: 0.4em;
    color: white;
    font-size: 1rem;
    border: 1px solid blue;
    cursor: pointer;
}

.menu-navegacion button:hover {
    background: hsl(207, 90%, 55%);
}

#navegador-inicio { grid-area: nav-ini; }
#navegador-institucion { grid-area: nav-inst; }
#navegador-servicios { grid-area: nav-serv; }
#navegador-informacion { grid-area: nav-info; }
#navegador-logistica { grid-area: nav-logi; }
#navegador-tramites { grid-area: nav-tram; }
#navegador-asesora { grid-area: nav-asesora; }
#menu-navegacion input { grid-area: nav-busqueda; }
#menu-navegacion button { grid-area: nav-boton; }
/*=================
TITULO DE LA PAGINA
==================*/

#titulo-pagina {
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 6em;
    align-items: center;
    border-bottom: 1px solid hsl(0, 0%, 90%);
    border-top: 1px solid hsl(0, 0%, 90%);
}

#titulo-pagina .titulo{
    font-family: 'PT Serif', "Lucida Sans", "Lucida Grande", Lucida, serif;
    font-size: 2.4rem;
    letter-spacing: -1.2px;
    text-shadow: .5px .5px hsl(0, 0%, 90%);
}

#titulo-pagina .subtitulo{
    font-family: 'PT Sans', "Lucida Sans", "Lucida Grande", Lucida, sans-serif;
    font-size: 1.4rem;
    letter-spacing: -.3px;
    text-shadow: .5px .5px hsl(0, 0%, 80%);
}
#titulo-pagina>div{
    padding-left: 2em;
    padding-top: 1.5em;
    height: 100%;
    width: 100%;
}


#logo-pais{
    background-size: cover;
    height: 100%;
    width: auto;
    border: 2px solid hsl(0, 0%, 90%); 
    outline: 2px solid hsl(0, 0%, 90%);  
}

#logo-ministerio{
    background-size: cover;
    height: 100%;
    width: auto;
    border: 2px solid hsl(0, 0%, 90%); 
    outline: 2px solid hsl(0, 0%, 90%);
}

