.contenido>h2{
    padding-left: 7em;
    margin: 1em 0;
}
.contenedor-tabla{  
    margin: 0 auto;    
    width: 80%;
    overflow-x: auto;
    margin-bottom: 3em;
}

.tabla1,
.tabla2{
    width: 100%;
    display: grid;    
    background-color: var(--color-fondo);
}

.tabla1 tr:nth-child(even),
.tabla2 tr:nth-child(even){
    background-color: var(--color-light-letra);
}

.tabla1 tr,
.tabla2 tr{
    display: grid;    
    grid-template-rows: auto;
    height: auto;
    width: 100%;
    padding-bottom: 1em;
    padding-top: .5em;
    border-top: 1px solid hsl(0, 0%, 40%);
}

.tabla1 tr{
    grid-template-columns: 1fr 1fr 2fr 5fr;
}

.tabla2 tr{
    grid-template-columns: 3fr 8fr 1fr;
}

.tabla1 td,
.tabla2 td{
    padding: 0 1em;
}

.tabla1 tr a{
    color: var(--color-letra);
}