.contenido-videos {
    display: flex;
    background-color: var(--cont-bg-color-fondo);
    flex-flow: column;
    padding: 3em 2em;
    gap: 2em;
}

@media screen and (min-width: 70em) {
    .contenido-videos{
      padding: 3em 14em;
    }
}

.contenido>h1 {
    text-align: center;
    background-color: var(--cont-bg-color-fondo);
    margin: 0 auto;
    padding-top: 2em;
}

.video-contenedor {
    position: relative;
    padding-bottom: 56%;
    width: 100%;
    height: 0;
}

.video-contenedor iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid hsla(229, 13%, 75%, 0.6);
    border-radius: .5em;
}