.contenido {
    display: grid;
    grid-template-areas: "noti" "serv" "libros" "proceso" "enlaces" "entidades";
}

/*=============
=== SLIDER  ===
=============*/

.slider {
    display: none;
}

@media screen and (min-width: 60em) {
    .slider {
        display: block;
        grid-area: noti;
        position: relative;
        overflow: hidden;
        z-index: 0;
        padding-top: 2em;
        background-color: var(--color-fondo);
    }
    .slider-item {
        display: flex;
        position: absolute;
        width: 100%;
        left: -100%;
        opacity: 0;
        transition: 1s left ease, 1s opacity ease
    }
    .slider-item.close {
        opacity: 0;
        left: 100%
    }
    .slider-item.show {
        z-index: 10;
        opacity: 1;
        left: 0
    }
    .background {
        height: 26em;
    }
    .switch {
        z-index: 11;
        display: block;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, 0)
    }
    .switch i {
        float: left;
        content: " ";
        display: block;
        width: 1.5em;
        height: .25em;
        border-radius: .25em;
        box-shadow: 0 .125em .125em hsla(0, 0%, 16%, 0.5);
        background: hsla(0, 0%, 100%, 0.4);
        margin: .125em;
        transition: .7s all
    }
    .switch i.active {
        background: hsla(0, 0%, 100%, 0.9)
    }
    .next, .prev {
        z-index: 11;
        position: absolute;
        top: calc(50% - 1.4rem);
        height: 1.4em;
        width: 1.4em;
        padding: 1.5em;
        border: none;
        border-radius: 50%;
        background: hsla(0, 0%, 7%, 0.4);
        transition: .4s all;
        opacity: .7
    }
    .next svg, .prev svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1em;
        height: 1em;
        fill: hsla(0, 0%, 100%, 0.8);
        transition: .3s all
    }
    .prev {
        left: 3%;
        transform: rotate(180deg)
    }
    .next {
        right: 3%
    }
    .next:hover, .prev:hover {
        background: hsla(0, 0%, 0%, 0.8);
        cursor: pointer
    }
    .next:hover svg, .prev:hover svg {
        fill: hsl(0, 0%, 100%, 1)
    }
}

/*===========
  SERVICIOS
===========*/

.index-servicios {
    grid-area: serv;
    background-color: hsl(20, 100%, 97%);
}

.index-servicios>h1 {
    padding: 3em 1em 1em 1em;
    text-align: center;
    font-size: 1.8rem;
}

@media screen and (min-width: 60em) {
    .index-servicios>h1 {
        padding: 3em 0 1em 0;
    }
}

.index-servicios-contenedor {
    display: grid;
    padding: 0 4em 4em 4em;
    gap: 1em;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

@media screen and (min-width: 60em) {
    .index-servicios-contenedor {
        grid-template-columns: repeat(auto-fit, minmax(28em, 1fr));
    }
}

.index-servicios-celda {
    position: relative;
    padding: 1em 1em;
    border-radius: .5em;
    border-bottom: 2px solid transparent;
    background-image: linear-gradient(to right, hsl(0, 23%, 77%) 0%, hsl(0, 23%, 82%) 50%, hsl(0, 23%, 77%) 100%);
    box-shadow: 0.1em 0.1em 0.5em hsl(219, 60%, 17%);
    font-size: 1rem;
    max-width: 28em;
    min-height: 18em;
    margin: 1em auto;
    text-decoration: none;
    color: inherit;
}

.index-servicios-celda>h1{
    text-align: left;
    padding-left: 1em;
    font-size: 1.4rem;
}
.index-servicios-celda>h2{
    position: absolute;
    font-size: 1.2rem;
    bottom: 1.8em;
    right: 1em;    
}
.index-servicios-celda>div{
    text-align: justify;
    padding-bottom: 1em;
}
.index-servicios-celda p{
    padding-top: 1em;
    font-size: 1rem;
}

.index-servicios-celda:hover {
    border-bottom: 2px solid var(--color-oscuro);
}

.index-servicios-celda img {
    float: left;
    width: 7em;
    margin: 1em 2em 1em 1em;
    filter: invert(18%) sepia(19%) saturate(4944%) hue-rotate(169deg) brightness(95%) contrast(102%);
}


.arrow{
    --altura: 2em; 
    --ancho: 2em;
    --pos-y: 1em;
    --pos-x: 4em;
}

.index-servicios-celda span {
    display: block;
    width: var(--ancho);
    bottom: var(--pos-y);
    margin: auto;
    right: calc(var(--pos-x) + 1em);
    height: var(--altura);
    position: absolute;
}

.index-servicios-celda span span {
    background: url(../images/arrow.svg);
    filter: invert(18%) sepia(19%) saturate(4944%) hue-rotate(169deg) brightness(95%) contrast(102%);
    background-repeat: no-repeat;
    display: block;
    width: var(--ancho);
    bottom: var(--pos-y);
    margin: auto;
    right: var(--pos-x);
    height: var(--altura);
    opacity: 1;
    position: absolute;
}

.index-servicios-celda .arrow:before {
    content: "";
    background: url(../images/arrow.svg);
    filter: invert(18%) sepia(19%) saturate(4944%) hue-rotate(169deg) brightness(95%) contrast(102%);
    background-repeat: no-repeat;
    display: block;
    width: var(--ancho);
    bottom: var(--pos-y);
    margin: auto;
    right: calc(var(--pos-x) + 1em);
    height: var(--altura);
    position: absolute;
    opacity: 0.5;
}

.index-servicios-celda .arrow:after {
    content: "";
    background: url(../images/arrow.svg);
    filter: invert(18%) sepia(19%) saturate(4944%) hue-rotate(169deg) brightness(95%) contrast(102%);
    background-repeat: no-repeat;
    display: block;
    width: var(--ancho);
    bottom: var(--pos-y);
    margin: auto;
    right: calc(var(--pos-x) + 2em);
    height: var(--altura);
    position: absolute;
    opacity: 0.3;
}

.index-servicios-celda:hover .arrow:before {
    animation: animate-arrow-2 1s ease-in-out infinite 0.1s;
}

.index-servicios-celda:hover .arrow:after {
    animation: animate-arrow-3 1s ease-in-out infinite 0.2s;
}

.index-servicios-celda:hover .arrow span {
    animation: animate-arrow-1 1s ease-in-out infinite;
}

@keyframes animate-arrow-1 {
    0% {
        transform: translateX(calc(-4 * var(--ancho)));
        opacity: 0;
    }

    70%,
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes animate-arrow-2 {
    0% {
        transform: translateX(calc(-2 * var(--ancho)));
        opacity: 0;
    }

    70%,
    100% {
        transform: translateX(0);
        opacity: 0.5;
    }
}

@keyframes animate-arrow-3 {
    0% {
        transform: translateX(calc(-1 * var(--ancho)));
        opacity: 0;
    }

    70%,
    100% {
        transform: translateX(0);
        opacity: 0.3;
    }
}


/*===========
  ENTIDADES
===========*/

.index-entidades {
    grid-area: entidades;
    display: grid;
    text-align: center;
    background-color: var(--color-fondo);
}

.index-entidades>h1 {
    padding: 3em 1em 1em 1em;
    margin-bottom: 2em;
    margin-top: 1em;
    font-size: 1.8rem;
}

@media screen and (min-width: 60em) {
    .index-entidades>h1 {
        margin-bottom: 2em;
        margin-top: 1em;
        padding: 1em 0;
    }
}

.contenedor-entidades {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9em, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 3em;
    justify-content: space-evenly;
    padding: 0 4em 4em 4em;
}

.contenedor-entidades::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.contenedor-entidades>*:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.contenedor-entidades a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 60%;
    box-shadow: 0.1em 0.1em 0.5em hsl(219, 60%, 17%);
    transition: filter .1s ease-in-out;
    background-color: hsl(225, 1%, 98%);
}

.contenedor-entidades>a:hover {
    filter: opacity(.7);
}

.contenedor-entidades a>img {
    object-fit: contain;
    padding: 0.6em;
    border-radius: 50%;
    margin: auto;
}

/*========
  LIBROS
========*/

.index-libros{
    grid-area: libros;

}
.index-libros-seccion {    
    display: flex;
    color: hsl(206, 82%, 97%);
    padding: 6em 2em;
}

@media screen and (min-width: 60em) {
    .index-libros-seccion {
        padding: 6em 12em;
    }
}

.index-libros-seccion>a {
    flex: 1;
    min-width: 20em;
    line-height: 0;
    margin-right: 3em;
}

.index-libros-seccion>a>img {
    box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.5), 0 3px 6px hsla(0, 0%, 0%, 0.3);
    position: relative;
    top: 0;
    transition: top .2s cubic-bezier(.45, .05, .55, .95), filter .1s cubic-bezier(.45, .05, .55, .95);
    transition-delay: .1s;
}

.index-libros-seccion>a>img:hover {
    transition: top .2s cubic-bezier(.45, .05, .55, .95), filter .1s cubic-bezier(.45, .05, .55, .95);
    top: -.2em;
    filter: brightness(105%);
}

.index-libros-explicacion {
    flex: 2;
    margin: auto 2em;
}

.index-libros-explicacion>h2 {
    text-align: justify;
    margin-bottom: 2em;
}

#guia-exportador{
    background-color: hsl(88, 54%, 51%);
    flex-wrap: wrap-reverse;
}
#encuesta-logistica{
    background-color: hsl(196, 68%, 59%);
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}



/*========
  efectos
=========*/

.index-libros-seccion>a::after {
    transition: background .5s ease-in-out;
}


.index-libros-seccion>a>img {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
    transform: translate3d(0, -3em, 0);
}


.index-libros-seccion>a.in-view>img {
    transform: none;
    visibility: visible;
    opacity: 1;
}


/*=====================
  PROCESO EXPORTADOR
======================*/

.index-proceso{
    grid-area: proceso;
    background-color: white;
}

.index-proceso>h1{
    text-align: center;
    padding: 2em 0;
}

.index-proceso>canvas{
    display: flex;
    justify-content: center;
    margin: 1em auto;
}

/*=========
  ENLACES
=========*/

.index-enlaces {
    grid-area: enlaces;
    background-color: var(--color-fondo);
    padding: 2em 0;
    text-align: center;
    font-size: .9rem;
}

.index-enlaces *+* {
    margin-top: 0.5em;
}

.index-enlaces-item>a {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    color: white;
    background-color: var(--color-oscuro);
    margin: auto;
    text-align: left;
    cursor: pointer;
    padding: .6em;
    transition: background-color 0.2s ease-out;
    border-radius: 0.8em 0 0.8em 0;
}

@media screen and (min-width: 60em) {
    .index-enlaces-item>a {
        width: 40%;
    }
}

.index-enlaces-item>a:hover {
    background-color: var(--color-light);
}

.index-enlaces-lista {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    background: hsla(0, 0%, 100%);
    margin-top: 0;
    overflow: hidden;
    max-height: 0;
    text-align: left;
    padding-left: 2em;
}

@media screen and (min-width: 60em) {
    .index-enlaces-lista {
        width: 40%;
    }
}

.index-enlaces-lista a {
    color: black;
    text-decoration: none;
}

.index-enlaces-lista a:hover {
    text-decoration: underline;
}

.index-enlaces-lista.active {
    max-height: 50em;
    padding-top: 1em;
    padding-bottom: 1em;
}

