.matriz-boletines{
    display: grid;
    margin: 0 6em 4em 6em;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill,minmax(15em, 1fr));
    gap: 4em;
}

.matriz-boletines img {
    box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.5), 0 3px 6px hsla(0, 0%, 0%, 0.3);
    position: relative;
    top: 0;
    transition: top .2s cubic-bezier(.45, .05, .55, .95), filter .1s cubic-bezier(.45, .05, .55, .95);
    transition-delay: .1s;
}

.matriz-boletines img:hover {
    transition: top .2s cubic-bezier(.45, .05, .55, .95), filter .1s cubic-bezier(.45, .05, .55, .95);
    top: -.2em;
    filter: brightness(105%);
}


.matriz-boletines>a::after {
    transition: background .5s ease-in-out;
}


.matriz-boletines>a>img {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
    transform: translate3d(0, -3em, 0);
}

.matriz-boletines>a.in-view>img {
    transform: none;
    visibility: visible;
    opacity: 1;
}
